﻿<style>
input, select, textarea {
    max-width: unset !important; 
}
</style>

<!DOCTYPE html>
<html ng-app='LEAGUE'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PREMIER LEAGUE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/">Add New Team</a></li>
                    <li><a href="/#/Matches">Matches</a></li>
                    <li><a href="/#/Standings">Standings</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div ng-view class="page-content"></div>
        <div style="position:absolute;bottom:15px">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Football League Manager</p>
            </footer>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.1.0/ocLazyLoad.min.js"></script>


    <!-- @Scripts.Render("~/bundles/jquery") -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/main.js")
    @RenderSection("scripts", required: false)
</body>
</html>
