﻿@{
    ViewBag.Title = "Add New Team";
}

<h3 style="margin-top:50px">Add New Team</h3>
<hr>
<div class="row">
    <div class="col-md-12">
        <form name="teamForm" method="post" id="myForm" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group" ng-class="{'has-error':teamForm.team_name.$invalid}">
                <label class="col-sm-2 control-label">Team Name</label>
                <div class="col-md-10">
                    <input type="text" name="team_name" data-ng-model="teamSubmitData.team_name" required class="form-control" placeholder="Team Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Team Logo</label>
                <div class="col-md-10">
                    <input type="file" name="attachment" class="form-control" data-ak-file-model="teamSubmitData.attachment" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Remarks</label>
                <div class="col-md-10">
                    <textarea name="remarks" data-ng-model="teamSubmitData.remarks" class="form-control" placeholder="Team History, Location etc."></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button data-ng-click="saveTeam(teamSubmitData)" ng-disabled="teamForm.$invalid" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>