﻿
@{
ViewBag.Title = "Matches";
}
<style type="text/css">
td{
    vertical-align:middle !important;
    font-size: 1.5em;
}
</style>
<h2>Matches</h2>
<hr>
<button data-toggle="modal" data-target="#modal-id" class="brn btn-primary btn-block" id="#modal-id">Add a Match</button>
<hr>
<table frame="box" style="border-color: #f9f9f9;" class="table table-hover table-striped">
	<thead>
		<tr>
			<td colspan="8">
				<input type="text" id="input" ng-model="matchSearch" class="form-control" placeholder="Search">
			</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key,value) in matches | filter:matchSearch">
			<td class="text-left">{{value.date}}</td>
			<td style="padding:0px">
				<img width="60px" height="60px" ng-src="{{value.home_team_logo}}">
			</td>
			<td class="text-right">{{value.home_team}}</td>
			<td class="text-right"><strong>{{value.home_goal}}</strong></td>
			<td class="text-left"><strong>{{value.away_goal}}</strong></td>
			<td class="text-left">{{value.away_team}}</td>
			<td style="padding:0px">
				<img width="60px" height="60px" ng-src="{{value.away_team_logo}}">
			</td>
			<td>
				<button class="btn btn-primary"><i class="glyphicons glyphicons-facetime-video"></i> Highlights</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" id="modal-id">
	<div class="modal-dialog modal-lg" style="width:70%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add A Match</h4>
			</div>
			<div class="modal-body">
				<form name="matchSubmitForm" class="form-inline">
					<div style="width:24%" class="form-group" ng-class="{'has-error':matchSubmitForm.home_team.$invalid || matchSubmitData.home_team== matchSubmitData.away_team}">
						<select ng-model="matchSubmitData.home_team" name="home_team"  class="form-control" id="exampleInputPassword3" required>
							<option value="">Select home team</option>
							<option ng-repeat="(key,value) in teams" value="{{value.team_id}}">{{value.team_name}}</option>
						</select>
					</div>
					<div  style="width:24%" class="form-group" ng-class="{'has-error':matchSubmitForm.home_goal.$invalid}">
						<input  ng-model="matchSubmitData.home_goal" type="text" name="home_goal" class="form-control" id="exampleInputPassword3" placeholder="Home Goal" required>
					</div>
					<div  style="width:24%" class="form-group" ng-class="{'has-error':matchSubmitForm.away_goal.$invalid}">
						<input ng-model="matchSubmitData.away_goal" type="text" name="away_goal" class="form-control" id="exampleInputPassword3" placeholder="Away Goal" required>
					</div>
					<div style="width:24%" class="form-group" ng-class="{'has-error':matchSubmitForm.away_team.$invalid || matchSubmitData.away_team== matchSubmitData.home_team}">
						<select ng-model="matchSubmitData.away_team" name="away_team" class="form-control" id="exampleInputPassword3" placeholder="Away Team" required>
							<option value="">Select away team</option>
							<option ng-repeat="(key,value) in teams" value="{{value.team_id}}">{{value.team_name}}</option>
						</select>
					</div>
				</form>
			</div>
			<div style="margin-top:0px" class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button ng-disabled="matchSubmitForm.$invalid || matchSubmitData.away_team== matchSubmitData.home_team" ng-click="submitMatchData()" type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>