﻿
@{
ViewBag.Title = "Standings";
}

<h2>Standings</h2>
<style type="text/css">
td{
    vertical-align:middle !important;
    font-size: 1.5em;
}
</style>
<hr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="11">
                <input type="text" id="input" ng-model="matchSearch" class="form-control" placeholder="Search">
            </td>
        </tr>
        <tr>
            <th>#</th>
            <th class="text-center" colspan="2">Team</th>
            <th>Matches<br>Played</th>
            <th>Win</th>
            <th>Lose</th>
            <th>Draw</th>
            <th>Goal<br>Scored</th>
            <th>Goal<br>Conceded</th>
            <th>Goal<br>Difference</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-init="value.goalDifference=(value.home_goal_scored * 1+value.away_goal_scored * 1 - (value.home_goal_conceded * 1+value.away_goal_conceded * 1));value.point = (value.home_win * 3 +value.away_win * 3 + value.home_draw * 1 +value.away_draw * 1)" ng-repeat="(key,value) in standings | filter:matchSearch | orderBy:['-point','-goalDifference']">
            <td>{{key+1}}</td>
            <td style="padding:0px; border-right:none;">
                <img width="60px" height="60px" style="margin-left:12px" ng-src="{{value.team_logo}}">
            </td>
            <td style="border-left:none;"">{{value.team_name}}</td>
            <td>{{value.home_win * 1+value.home_draw * 1+ value.home_lose * 1 +value.away_win * 1+value.away_draw * 1+value.away_lose * 1}}</td>
            <td>{{value.home_win * 1+value.away_win * 1}}</td>
            <td>{{value.home_lose * 1+value.away_lose * 1}}</td>
            <td>{{value.home_draw * 1+value.away_draw * 1}}</td>
            <td>{{value.home_goal_scored * 1+value.away_goal_scored * 1}}</td>
            <td>{{value.home_goal_conceded * 1+value.away_goal_conceded * 1}}</td>
            <td>{{value.home_goal_scored * 1+value.away_goal_scored * 1 - (value.home_goal_conceded * 1+value.away_goal_conceded * 1)}}</td>
            <td>{{value.home_win * 3 +value.away_win * 3 + value.home_draw * 1 +value.away_draw * 1}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteTeam(value.team_id)">DELETE</button></td>
        </tr>
    </tbody>
</table>
